{% extends "common/base.html" %}
{% load crispy_forms_tags %}

<head>
	<title>
	{% block head_title %}Login{% endblock %}
	{% block head_extension %}{% endblock %}
	</title>
</head>

<body>
{% block body_content %}
<div class="container">
    {% if request.user.is_authenticated %}
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <p class="lead text-center">Welcome <b>{{ request.user.username }}</b></p>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <p class="lead text-center">Login</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form method="POST" action="">
            {% csrf_token %}
            {{ user_form | crispy }}
            <br />
            <input class="btn btn-default w-100" type="submit" value="Confirm" />
            </form>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
</body>