{% extends "common/base.html" %}

<head>
	<title>
		{% block head_title %}{{ press.press_name }}{% endblock %}
	</title>
</head>

<body>
	{% block body_content %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-sm-10 offset-md-1 offset-sm-1">
				<div class="row mx-1">
					<div class="col-md-8">
						<div class="row">
							<h1 class="col-md-12 mt-4 mb-0">{{ press.press_name }}</h1>
						</div>
					</div>
				</div>
			</div>
			<br />
			<br />

			{% if request.user.is_authenticated and request.user.is_admin %}
			<hr />
			<div class="row justify-content-center">
				<div class="col-auto col-offset-2">
					<a href="{% url 'book:press_update' press_id=press.id %}" class="btn btn-default">Edit</a>
				</div>
				<div class="col-auto col-offset-2">
					<a href="{% url 'book:press_delete' press_id=press.id %}" class="btn btn-danger">Delete</a>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	{% endblock %}
</body>
