{% load mathfilters %}
<ul class="pagination">
	<li class="page-item">
		<a class="page-link" href="?{% if page_name %}{{ page_name }}{% else %}page{% endif %}=1{% if request.GET.qs %}&qs={{ request.GET.qs }}{% endif %}" aria-label="First">
			<i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i><span class="sr-only">First</span>
		</a>
	</li>
	{% if item_list.has_previous %}
	<li class="page-item">
		<a class="page-link" href="?{% if page_name %}{{ page_name }}{% else %}page{% endif %}={{ item_list.previous_page_number }}{% if request.GET.qs %}&qs={{ request.GET.qs }}{% endif %}" aria-label="Previous">
			<i class="fa fa-angle-left fa-lg" aria-hidden="true"></i><span class="sr-only">Previous</span>
		</a>
	</li>
	{% endif %}
	{% if item_list.number > 3 %}
	<li class="page-item">
		<span class="page-link" style="border:none;"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
	</li>
	{% endif %}
	{% for i in item_list.paginator.page_range %}
		{% if item_list.number == i %}
		<li class="page-item active">
			<a class="page-link">{{ i }}<span class="sr-only">(current)</span></a>
		</li>
		{% elif item_list.number|sub:i|abs < 3 %}
		<li class="page-item">
			<a class="page-link" href="?{% if page_name %}{{ page_name }}{% else %}page{% endif %}={{ i }}{% if request.GET.qs %}&qs={{ request.GET.qs }}{% endif %}">{{ i }}</a>
		</li>
		{% endif %}
	{% endfor %}
	{% if item_list.paginator.num_pages|sub:item_list.number > 3 %}
	<li class="page-item">
		<span class="page-link" style="border:none;"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
	</li>
	{% endif %}
	{% if item_list.has_next %}
	<li class="page-item">
		<a class="page-link" href="?{% if page_name %}{{ page_name }}{% else %}page{% endif %}={{ item_list.next_page_number }}{% if request.GET.qs %}&qs={{ request.GET.qs }}{% endif %}" aria-label="Next">
			<i class="fa fa-angle-right fa-lg" aria-hidden="true"></i><span class="sr-only">Next</span>
		</a>
	</li>
	{% endif %}
	<li class="page-item">
		<a class="page-link" href="?{% if page_name %}{{ page_name }}{% else %}page{% endif %}={{ item_list.paginator.num_pages }}{% if request.GET.qs %}&qs={{ request.GET.qs }}{% endif %}" aria-label="Last">
			<i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i><span class="sr-only">Last</span>
		</a>
	</li>
</ul>