{% extends "star_ratings/widget_base.html" %}
{% load i18n %}
{% load mathfilters %}

{% block rating_style %}
<style>
    #{{ id }} .star-ratings-rating-full, #{{ id }} .star-ratings-rating-empty {
        width: {{ icon_width }}px;
        height: {{ icon_height }}px;
        background: url({{ sprite_image }}) no-repeat;
        background-size: {{ sprite_width }}px;
    }
    #{{ id }} .star-ratings-rating-empty {
        background-position: -{{ icon_width }}px 0;
    }
    {% if user.is_authenticated and editable %}
    #{{ id }} .star-ratings-rating-full:hover, #{{ id }} .star-ratings-rating-empty:hover {
        background-position: -{{ icon_width|add:icon_width }}px 0;
    }
    {% endif %}
</style>

<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#{{ id }}').on('rate-success', function(){
        var score = $('.star-ratings-rating-user .star-ratings-rating-value').text();
        $(this).attr('data-avg-rating', score);
        var user_percentage = score / {{ star_count }} * 100;
        $('.star-ratings-rating-foreground').css('width', user_percentage + '%');
    });
});
</script>
{% endblock rating_style %}

{% block rating_container %}
<div id="{{ id }}" class="star-ratings" data-max-rating="{{ star_count }}" data-avg-rating="{% if user_rating %}{{ user_rating.score }}{% else %}0{% endif %}">

{% block rating_stars %}
<div class="row justify-content-start">
    <div class="col-auto">
        <div class="star-ratings-rating-stars-container">
            <ul class="star-ratings-rating-background">
                {% for star in stars %}
                <li>
                    {% if editable %}
                    <a href="{% url 'ratings:rate' rating.content_type_id rating.object_id %}?return={{ request.path }}" data-score="{{ star }}"
                        class="star-ratings-rate-action">
                        <span class="star-ratings-rating-empty"></span>
                    </a>
                    {% elif user.is_authenticated %}
                    <span class="star-ratings-rating-empty"></span>
                    {% else %}
                    <span class="star-ratings-rating-empty" title="{% trans 'Log in to rate' as title_login %}{{ title_login|escape }}"></span>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <ul class="star-ratings-rating-foreground" style="width:{% if user_rating %}{{ user_rating_percentage|floatformat }}{% else %}0{% endif %}%">
                {% for star in stars %}
                <li>
                    {% if editable %}
                    <a href="{% url 'ratings:rate' rating.content_type_id rating.object_id %}?return={{ request.path }}" data-score="{{ star }}"
                        class="star-ratings-rate-action">
                        <span class="star-ratings-rating-full"></span>
                    </a>
                    {% else %}
                    <span class="star-ratings-rating-full" title="Log in to rate"></span>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-auto align-self-center pl-0">
        <div class="star-ratings-rating-user">
            <p><span class="star-ratings-rating-value">{% if user_rating.score %}{{ user_rating.score }}{% else %}0{% endif %}</span> Points</p>
        </div>
    </div>
</div>
{% endblock rating_stars %}

{% block rating_detail %}

{% block rating_average %}
<!-- <div class="star-ratings-rating-average">{% trans 'Average: ' %} <span class='star-ratings-rating-value'>{{ rating.average|floatformat:"-2" }}</span></div> -->
{% endblock rating_average %}

{% block rating_count %}
<!-- <div class="star-ratings-rating-count">{% trans 'Rating Count: ' %} <span class='star-ratings-rating-value'>{{ rating.count }}</span></div> -->
{% endblock rating_count %}

{% block rating_user %}
<!-- <div class="star-ratings-rating-user">{% trans 'You Rated: ' %} <span class='star-ratings-rating-value'>{% if user_rating %}{{ user_rating.score }}{% else %}{% trans 'Not rated' %}{% endif %}</span></div>
{% if not user.is_authenticated and not anonymous_ratings and not read_only %}
    <p>{% trans 'Please log in to rate.' %}</p>
{% endif %} -->
{% endblock rating_user %}

<div class="star-ratings-errors"></div>

{% endblock rating_detail %}
</div>
{% endblock rating_container %}