{% extends "common/base.html" %}

<head>
	<title>
		{% block head_title %}{{ author.author_name }}{% endblock %}
	</title>
</head>

<body>
	{% block body_content %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-sm-10 offset-md-1 offset-sm-1">
				<div class="row mx-1">
					<div class="col-md-4 text-center">
						<img class="card-img my-4 img-fluid img-thumbnail" data-src="holder.js/240x320?theme=thumb" alt="Thumbnail [240x320]" style="display:block; max-width:220px; height:auto; margin:auto;"
						 src="{{ author.author_photo.url }}" data-holder-rendered="true">
					</div>
					<div class="col-md-8">
						<div class="row">
							<h1 class="col-md-12 mt-4 mb-0">{{ author.author_name }}</h1>
						</div>
						<div class="row">
							<span class="col-md-12 lead">
								<strong>From</strong> {% if author.author_birth_date %}{{ author.author_birth_date }}{% else %}-{% endif %} <strong>To</strong> {% if author.author_death_date %}{{ author.author_death_date }}{% else %}-{% endif %}</strong>
							</span>
						</div>
					</div>
				</div>

				<div class="row mx-1 my-2">
					<div class="col-md-12">
						<p class="lead">
							<strong>Author Introduction</strong>
						</p>
						<hr />
					</div>
					<div class="col-md-12">
						<p>{{ author.get_author_intro_html }}</p>
					</div>
				</div>
				<br />
				<br />
			</div>
			<!-- <wb:comments url="{{ request.build_absolute_uri }}" width="auto" skin="silver" ></wb:comments> -->

			{% if request.user.is_authenticated and request.user.is_admin %}
			<hr />
			<div class="row justify-content-center">
				<div class="col-auto col-offset-2">
					<a href="{% url 'book:author_update' author_id=author.id %}" class="btn btn-default">Edit</a>
				</div>
				<div class="col-auto col-offset-2">
					<a href="{% url 'book:author_delete' author_id=author.id %}" class="btn btn-danger">Delete</a>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	{% endblock %}
</body>