{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<!-- <h1>{% trans "Confirm E-mail Address" %}</h1>
{% if confirmation %}
{% user_display confirmation.email_address.user as user_display %}
<p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit">{% trans 'Confirm' %}</button>
</form>
{% else %}
{% url 'account_email' as email_url %}
<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
{% endif %} -->

<div class="row">
  <div class="col-lg-4 ml-auto mr-auto">
    <div class="card card-register">
      <h3 class="title"><strong>{% trans "Confirm E-mail Address" %}</strong></h3>
      <div class="social-line text-center">
          {% if confirmation %}
              {% user_display confirmation.email_address.user as user_display %}
              <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
              <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
              {% csrf_token %}
                  <button class="primaryAction btn btn-success btn-block btn-round mt-5" type="submit">{% trans 'Confirm' %}</button>
              </form>
          {% else %}
              {% url 'account_email' as email_url %}
              <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
          {% endif %}
      </div>
      <!-- <div class="forgot">
          <a href="{% url 'account_reset_password' %}" class="btn btn-link btn-danger">{% trans "Forgot Password?" %}</a>
      </div> -->
    </div>
  </div>
</div>

{% endblock %}
