h1 {

}

p {
    word-wrap: break-word;
}

li a {
    color: blue;
}

.wmd-panel {
	margin-left: 0px !important;
    margin-right: 0px !important;
    width: inherit !important;
    height: inherit !important;
	min-width: 0px !important;
	min-height: 0px !important;
}

#id_blog_title {
    height: 100% !important;
    width: 100% !important;
}

.django-ckeditor-widget {
    height: 100% !important;
    width: 100% !important;
    display: unset !important;
}

body {
    /* background: white url("images/bg.jpg") no-repeat left top; */
    background-color: #FFFCF5;
}

.navbar .navbar-nav .nav-item .nav-link {
    margin: 5px 0px !important;
}

.navbar .btn {
    margin: 5px 0px !important;
}

.navbar .navbar-brand {
    padding: 15px 15px !important;
    margin: 0px 0px !important;
}

.navbar .navbar-burger {
    margin: 15px 15px !important;
}