{% extends "common/base.html" %}
{% load crispy_forms_tags %}

<head>
	<title>
	{% block head_title %}Profile{% endblock %}
	{% block head_extension %}{% endblock %}
	</title>
</head>

<body>
{% block body_content %}
<div class="container">
    {% if not request.user.is_authenticated %}
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <p class="lead text-center">Please login first</p>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <p class="lead text-center">Profile</p>
        </div>
    </div>
    <br />
    <div class="row">
        {% if request.user.avatar %}
        <div class="col-sm-6 offset-sm-3 text-center">
            <img src="{{ request.user.avatar.url }}" 
                class="img-circle img-fluid img-thumbnail"
			    alt="Thumbnail [250x250]" 
				style="display:block; width:250px; height:250px; margin:auto;" 
                alt="{{ request.user.username }}" />
        </div>
        {% endif %}
        <div class="col-sm-6 offset-sm-3">
            <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form | crispy }}
            <br />
            <input class="btn btn-default w-100" type="submit" value="Confirm" />
            </form>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
</body>