{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

<head>
	<title>
	{% block head_title %}Register{% endblock %}
	{% block head_extension %}{% endblock %}
	</title>
</head>

<body>
{% block body_content %}
<div class="container">
    {% if request.user.is_authenticated %}
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <p class="lead text-center">You have been registered</p>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <p class="lead text-center">Register</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form method="POST" action="">
            {% csrf_token %}
            {{ user_form | crispy }}
            <input type="submit" value="Save" />
            </form>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
</body>