b, strong {
    font-weight:bold !important;
}

p {
    word-wrap: break-word;
    font-weight: normal !important;
}

body {
    /* background: white url("images/bg.jpg") no-repeat left top; */
    word-wrap: break-word;
    background-color: rgb(240, 240, 240);
}

.jumbotron-index {
    /* background-color: rgba(54, 162, 212, 0.618); */
    /* background-color: rgba(212, 54, 54, 0.618); */
    /* background-color: rgba(201, 212, 54, 0.618); */
    background-color: rgba(86, 212, 54, 0.618);
    color: #FFFFFF;
}

.html-content {
    background-color: white;
    padding: 2% 2%;
    border-radius: 10px;
}

.book-profile {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
}

.btn-warning.disabled, .btn-warning:disabled {
    color: #000000 !important;
}

.navbar {
    background-color: rgb(0, 0, 0) !important;
}

.navbar-collapse::after {
    background-color: rgb(0, 0, 0) !important;
}

.navbar-collapse .navbar-nav > .nav-item > .nav-link:hover, .navbar-collapse .navbar-nav > .nav-item > .nav-link:active {
  color: rgb(255, 255, 255) !important;
}

.navbar-default .navbar-nav .nav-item .nav-link:not(.btn) {
    color: rgb(255, 255, 255) !important;
}

#dropdownMenuButton button {
    opacity: 1 !important;
}

.navbar .navbar-toggler .navbar-toggler-bar {
    background: #ffffff !important;
}

.dropdown .dropdown-menu .dropdown-item {
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
    opacity: .8;
    text-transform: uppercase;
    font-size: 11px !important;
}

.blockquote small {
    font-size: 60% !important;
}

.form-control.selectmultiple {
    height: inherit !important;
}

.scrollToTop {
    position: fixed;
    bottom: 3%;
    right: 5%;
    z-index: 99;
}

.wmd-panel {
	margin-left: 0px !important;
    margin-right: 0px !important;
    width: inherit !important;
    height: inherit !important;
	min-width: 0px !important;
	min-height: 0px !important;
}

#id_blog_title {
    height: 100% !important;
    width: 100% !important;
}

.django-ckeditor-widget {
    height: 100% !important;
    width: 100% !important;
    display: unset !important;
}

.wrapper {
    background-color: inherit !important;
}

.navbar .navbar-nav .nav-item .nav-link {
    margin: 5px 0px !important;
}

.navbar .btn {
    margin: 4px 0px !important;
}

.navbar-nav {
    display: -webkit-box;
}

.navbar .navbar-brand {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin: 0px 0px !important;
}

.navbar .navbar-burger {
    margin: 15px 15px !important;
}

.navbar-collapse {
    box-shadow: none !important;
}

.navbar-collapse ul {
    height: auto !important;
}

.blockquote {
    text-align: unset !important;
    padding: 1%;
}

.card-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 991px) {
    .dropdown.show .dropdown-menu,
    .dropdown .dropdown-menu {
        position: relative;
    }

    .dropdown.show .dropdown-menu .dropdown-item:hover,
    .dropdown.show .dropdown-menu .dropdown-item:focus,
    .dropdown .dropdown-menu .dropdown-item:hover,
    .dropdown .dropdown-menu .dropdown-item:focus {
        /* color: unset !important; */
        font-weight: 550;
        opacity: 1;
    }
}

.dropdown .dropdown-divider {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}

@media (min-width: 768px) {
    .navbar-nav .dropdown-menu:before,
    #dropdown-row .dropdown .dropdown-menu:before,
    .card.card-just-text .dropdown .dropdown-menu:before,
    .card-just-text .dropdown .dropdown-menu:before,
    .dropdown-btn .dropdown-menu:before {
        display: none !important;
    }

    .navbar-nav .dropdown-menu:after,
    #dropdown-row .dropdown .dropdown-menu:after,
    .card.card-just-text .dropdown .dropdown-menu:after,
    .card-just-text .dropdown .dropdown-menu:after,
    .dropdown-btn .dropdown-menu:after {
        display: none !important;
    }
}

.dropdown .dropdown-menu {
    background-color: rgb(0, 0, 0) !important;
}

.dropdown .dropdown-menu .dropdown-item:hover,
.dropdown .dropdown-menu .dropdown-item:focus {
    background-color: rgb(122, 122, 122) !important;
    opacity: 1;
}

.nav-tabs-navigation {
    margin-bottom: 10px !important;
}

.card-register {
    background-color: rgba(33, 33, 33, 0.618) !important;
    margin: 10% auto !important;
    min-height: unset !important;
}

.card-register .title {
    color: white !important;
}

.card {
    border-radius: 12px;
    box-shadow: 6px 6px 5px -1px rgba(0, 0, 0, 0.15) !important;
    /* background-color: rgba(230, 230, 230, 0.3) !important; */
    color: #333333;
    border: 0.2px solid !important;
}
