{% extends "common/base.html" %}

<title>
{% block head_title %}{{ title }}{% endblock %}
</title>

<body>
{% block body_content %}
<div class="container">
	<div class="row justify-content-between align-items-end">
		<div class="col-md-auto col-sm-auto text-left my-2">
			<h1>{{ title|truncatechars:25 }}</h1>
		</div>
		<div class="col-md-auto col-sm-auto">
			<div class="row justify-content-end">
				<div class="col-md-8 col-sm-6 my-2">
					<!-- search widgets -->
					<form method="GET" action="">
					<div class="input-group">
						<input type="text" name="qs" class="form-control" placeholder="Search for..." aria-label="Recipient's username" aria-describedby="basic-addon2" value="{{ request.GET.qs }}">
						<div class="input-group-append">
							<button class="btn btn-default" type="submit"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
						</div>
					</div>
					</form>
				</div>
				<div class="col-md-4 col-sm-6 my-2">
					<button type="button" class= "btn btn-success float-right">New Archive</button>
				</div>
			</div>
		</div>
	</div>

	<br />
	<br />

	<div class="row">
		<div class="col">
	
			<!-- shelf books -->
			{% if booklog_list %}
			<div class="row">
				{% for booklog in booklog_list %}
				<div class="col-lg-2 col-md-4 col-sm-6">
					<div class="card box-shadow">
						<!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
						{% if booklog.booklog_book.book_cover %}
						<img class="card-img my-4 img-fluid img-thumbnail" data-src="holder.js/150x200?theme=thumb" alt="Thumbnail [150x200]" style="display:block; max-width:150px; height:auto; margin:auto;"
						 src="{{ booklog.booklog_book.book_cover.url }}" data-holder-rendered="true"> {% else %}
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
	
			<!-- {% for booklog in booklog_list %}
			<div class="card box-shadow">
				<div class="row justify-content-between">
					<div class="col-md-8 col-sm-8 pr-0">
						<div class="card-body align-items-start">
							<a href="{% url 'shelf:booklog_detail' booklog_id=booklog.id %}">
								<h3 class="card-title" style="word-wrap:break-word;"><strong>{{ booklog.booklog_book.book_title }}</strong></h3>
							</a>
							<div class="row mb-4">
								<div class="col-sm-auto d-inline-block mb-2 text-primary">Authors: {{ booklog.booklog_book.authors }}</div>
								<div class="col-sm-auto text-muted">Press: {{ booklog.booklog_book.presses }}</div>
							</div>
							<div class="card-text my-auto">
								<p>{{ booklog.booklog_book.get_book_intro_html | truncatechars_html:200 }}</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 px-0">
						{% if booklog.booklog_book.book_cover %}
						<img class="card-img my-4 img-fluid img-thumbnail"
						data-src="holder.js/150x200?theme=thumb" 
						alt="Thumbnail [150x200]" 
						style="display:block; max-width:150px; height:auto; margin:auto;" 
						src="{{ booklog.booklog_book.book_cover.url }}" 
						data-holder-rendered="true">
						{% endif %}
					</div>
				</div>
			</div>
			{% endfor %} -->
			<br />
	
			<!-- pagination -->
			<div class="row justify-content-center">
				{% include 'common/paginator.html' with item_list=booklog_list %}
			</div>
	
			{% else %}
			<!-- if no books -->
			<p class="text-center">No books.</p>
			{% endif %}
			<br />
			<br />
		</div>
	</div>
</div>
{% endblock %}

</body>