{% extends "common/base.html" %}

<title>
{% block head_title %}{{ title }}{% endblock %}
</title>

<body>
{% block body_content %}
<div class="container">
	<div class="row flex-nowrap justify-content-between align-items-center">
		<div class="col-auto pt-2 ml-2 text-left">
			<h1>{{ title }}</h1>
		</div>
	</div>

	<br />
	<br />

	<div class="row">
		<!-- shelf books -->
		<div class="col-md-8">
			{% if booklog_list %}
			{% for booklog in booklog_list %}
			<div class="card box-shadow">
				<div class="row justify-content-between">
					<div class="col-md-8 col-sm-8 pr-0">
						<div class="card-body align-items-start">
							<a href="{% url 'shelf:booklog_detail' booklog_id=booklog.id %}">
								<h3 class="card-title" style="word-wrap:break-word;"><strong>{{ booklog.booklog_book.book_title }}</strong></h3>
							</a>
							<div class="row mb-4">
								<div class="col-sm-auto d-inline-block mb-2 text-primary">Authors: {{ booklog.booklog_book.authors }}</div>
								<div class="col-sm-auto text-muted">Press: {{ booklog.booklog_book.presses }}</div>
							</div>
							<div class="card-text my-auto">
								<p>{{ booklog.booklog_book.get_book_intro_html | truncatechars_html:200 }}</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 px-0">
						<!-- {% if book.book_cover %} -->
						<img class="card-img my-4 img-fluid img-thumbnail"
						data-src="holder.js/150x200?theme=thumb" 
						alt="Thumbnail [150x200]" 
						style="display:block; max-width:150px; height:auto; margin:auto;" 
						src="{{ booklog.booklog_book.book_cover.url }}" 
						data-holder-rendered="true">
						<!-- {% endif %} -->
					</div>
				</div>
			</div>
			<br />
			{% endfor %}

			<!-- pagination -->
			<div class="row justify-content-center">
				{% include 'common/paginator.html' with item_list=booklog_list %}
			</div>

			{% else %} 
			<!-- if no books -->
			<p class="text-center">No books.</p>
			{% endif %}

			<br />
			<br />
		</div>

		<!-- widgets colume -->
		<div class="col-md-4">

			<div class="card">
				<h5 class="card-header">Search</h5>
				<div class="card-body">
					<form method="GET" action="">
					<div class="input-group">
						<input type="text" name="qs" class="form-control" placeholder="Search for..." aria-label="Recipient's username" aria-describedby="basic-addon2" value="{{ request.GET.qs }}">
						<div class="input-group-append">
							<button class="btn btn-default" type="submit"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
						</div>
					</div>
					</form>
				</div>
			</div>

			{% if tag_list %}
			<div class="card">
				<h5 class="card-header">Catagory</h5>
				<div class="card-body">
					<form method="GET" action="">
					{% for tag in tag_list %}
						<input class="btn btn-success btn-round btn-sm my-1" name="qs" type="submit" value="{{ tag }}" />
					{% endfor %}
					</form>
				</div>
			</div>
			{% endif %}

		</div>

	</div>
</div>
{% endblock %}

</body>