{% load crispy_forms_tags %}

<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function(){
	$(".comment-reply-btn").click(function(event){
		event.preventDefault();
		$(this).parent().parent().parent().parent().next(".comment-reply-list").fadeToggle();
		// $(".comment-reply-list").fadeToggle();
	});
});
</script>

<div class="row my-3">
{% for comment in comment_list %}
<div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1">
	{% if not card_mode %}
	<div class="blockquote">
	{% else %}
	<div class="card mb-4 box-shadow">
	{% if comment.content_object.booklog_book and not disable_profile %}
	<div class="card-header">
		<div class="row">
			<div class="col-lg-1 col-md-2 col-2" style="margin-top:0; padding-left:auto; padding-right:0;">
				<a href="{% url 'book:book_detail' book_id=comment.content_object.booklog_book.id %}" title="{{ comment.content_object.booklog_book.book_title }}">
					<img class="card-img img-fluid img-rounded" 
					alt="{{ comment.content_object.booklog_book.book_title }}" 
					style="object-fit:cover; max-width:100px; height:auto; margin:auto; padding:auto;"
					src="{{ comment.content_object.booklog_book.book_cover.url }}" 
					data-holder-rendered="true">
				</a>
			</div>
			<div class="col-lg-11 col-md-10 col-10">
				<div class="row">
					<div class="col">
						<a href="{% url 'book:book_detail' book_id=comment.content_object.booklog_book.id %}">
							<h5 class="lead"><strong>{{ comment.content_object.booklog_book.book_title }}</strong></h5>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<h6 class="text-default">{{ comment.content_object.booklog_book.authors }}</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
    <div class="card-body align-items-start">
	{% endif %}
		<div class="row">
			<div class="col">
				<div class="row align-items-center">
					<div class="col-lg-1 col-md-2 col-2" style="margin-top:0; padding-left:auto; padding-right:0;">
						{% if comment.comment_user.avatar %}
						<a href="{% url 'myuser:user_profile' user_id=comment.comment_user.id %}" title="{{ comment.comment_user.username }}">
							<img class="img-fluid img-circle" 
							alt="{{ comment.comment_user.username }}" 
							style="object-fit:cover; width:80px; height:80; margin:auto; padding:auto;"
							src="{{ comment.comment_user.avatar.url }}" 
							data-holder-rendered="true">
						</a>
						{% endif %}
					</div>
					<div class="col-lg-11 col-md-10 col-10" style="padding-left:2px;">
						<p class="lead" style="word-wrap:break-word; word-break:break-all;"><strong>{{ comment.comment_user }}:</strong></p>
					</div>
				</div>
			</div>
			<div class="col-auto">
				{% url 'comments:ajax_vote_up' comment_id=comment.id as vote_up_url %}
				{% include "common/user_votes.html" with ajax_vote_up_url=vote_up_url item=comment %}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-11 offset-sm-1">
				<div class="text-justify">{{ comment.get_comment_content_html }}</div>
			</div>
		</div>

		<div class="row flex-nowrap justify-content-between align-items-center" style="margin-top:2%;">
			<small class="col-4">{{ comment.comment_date_time }}</small>
			<br />
			<div class="col-6">
				<div class="row justify-content-end align-items-center">
					{% if comment.get_children %}
					<div class="col-md-auto my-1 text-right">
						<small>{{ comment.get_children.count }} {% if comment.get_children.count == 1%}Reply{% else %}Replies{% endif %}</small>
					</div>
					<!-- <div class="col-md-auto my-1">
						<a class="btn btn-sm btn-default" href="{{ comment.get_absolute_url }}">Discussion</a>
					</div> -->
					{% endif %} 
					{% if comment.get_children or request.user.is_authenticated and not disable_reply %}
					<div class="col-md-auto my-1 text-right">
						<button class="btn btn-sm btn-default comment-reply-btn">{% if comment.get_children.count <= 1%}Reply{% else %}Replies{% endif %}</button>
					</div>
					{% endif %}
					{% if request.user.is_authenticated and request.user == comment.comment_user and not disable_delete %}
					<div class="col-md-auto my-1 text-right">
						<a class="btn btn-sm btn-danger" href="{{ comment.get_delete_url }}">Delete</a>
					</div>
					{% endif %}
				</div>
			</div>
		</div>

		<div class="row comment-reply-list" style="display:none;">
			{% if comment.get_children %} 
			{% for child_comment in comment.get_children %}
			<div class="col-sm-11 offset-sm-1">
				<div class="blockquote">
					<p class="lead"><strong>{{ child_comment.comment_user }}:</strong></p>
					<div class="row">
						<div class="col-sm-11 offset-sm-1">
							<p class="text-justify">{{ child_comment.get_comment_content_html }}</p>
						</div>
					</div>
					<div class="row justify-content-between align-items-center" style="margin-top:2%;">
						<small class="col-auto">{{ child_comment.comment_date_time }}</small>
						{% if request.user.is_authenticated and request.user == child_comment.comment_user and not disable_delete %}
						<div class="col-8 d-flex justify-content-end align-items-center">
							<div class="col-md-auto my-1">
								<a class="btn btn-sm btn-danger" href="{{ child_comment.get_delete_url }}">Delete</a>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
			{% endfor %} 
			{% endif %}
			{% if request.user.is_authenticated and not disable_reply %}
			<div class="col-sm-11 offset-sm-1" style="padding-top:2%;">
				<form method="POST" action="" enctype="multipart/form-data">
					{% csrf_token %}
					{{ comment_form | crispy }}
					<input type="hidden" name="parent_id" value="{{ comment.id }}">
					<div class="row justify-content-end">
						<div class="col-auto col-offset-2">
							<button class="btn btn-sm btn-default" type="submit">Submit</button>
						</div>
					</div>
				</form>
			</div>
			{% endif %}
		</div>
	{% if not card_mode %}
	</div>
	{% else %}
	</div>
	</div>
	{% endif %}
</div>
{% endfor %}
</div>