{% extends "common/base.html" %}
{% load crispy_forms_tags %}

<head>
	<title>
	{% block head_title %}{{ title }}{% endblock %}
	{% block head_extension %}{{ share_form.media }}{% endblock %}
	</title>
</head>

<body>
{% block body_content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <h2 class="text-center">{{ title }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <!-- need to set enctype to multipart/form-data for uploading file image
            this type will not encrypt uploaded file name so that image file could be visited
            related link: https://www.w3schools.com/tags/att_form_enctype.asp -->
            <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ share_form | crispy }}
            <div class="row justify-content-end">
                <div class="col float-left">
                {% if share_form.instance.id %}
					<a href="{% url 'sharelist:share_detail' share_id=share_form.instance.id %}" class="btn btn-default">Back</a>
                {% else %}
                    <a class="btn btn-default" href="{{ previous_url }}">Back</a>
                {% endif %}
                </div>
                <div class="col-auto">
                    <input class="btn btn-success" type="submit" value="Save" />
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
</body>
