{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load ratings %}

<head>
	<title>
	{% block head_title %}{{ booklog.booklog_book.book_title }}{% endblock %}
	{% block head_extension %}{{ comment_form.media }}{% endblock %}
	</title>
</head>

<body>
{% block body_content %}
<div class="container">
	{% include 'book/book_profile.html' with book=booklog.booklog_book user_rate=True view_book=True %}
	<hr />

	<div class="row my-5">
		<div class="col-md-12">
			<div class="row justify-content-between align-items-end">
				<div class="col-auto">
					<p class="lead"><strong>Reading Notes</strong></p>
				</div>
				<div class="col-auto col-offset-2">
					<button class="btn btn-sm btn-success new-comment-btn">New Note</button>
				</div>
			</div>
		</div>
		<div class="col-md-12 my-4 new-comment" style="display:none;">
			{% if request.user.is_authenticated %}
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				{{ comment_form | crispy }}
				<div class="row justify-content-end">
					<div class="col-auto col-offset-2">
						<button class="btn btn-default" type="submit">Submit</button>
					</div>
				</div>
			</form>
			{% endif %}
		</div>
		<div class="col-md-12">
			{% if booklog_comments %}
			{% include "comments/comments.html" with comment_list=booklog_comments %}
			{% else %}
			<p class="my-4">Have anything in mind?</p>
			{% endif %}
		</div>
	</div>

	<div class="row my-5">
		<div class="col-md-12">
			<div class="row justify-content-between align-items-end">
				<div class="col-auto">
					<p class="lead"><strong>Reading Posts</strong></p>
				</div>
				<div class="col-auto col-offset-2">
					<a class="btn btn-success btn-sm" href="{% url 'shelf:booklog_createpost' booklog_id=booklog.id %}">New Post</a>
				</div>
			</div>
		</div>
		<div class="col-md-12 my-4">
			{% if booklog_posts %}
			{% include 'blog/posts.html' with post_list=booklog_posts %}
			<!-- pagination of booklog_posts -->
			<div class="row justify-content-center">
				<div class="col-auto" aria-label="Page navigation">
				{% include 'common/paginator.html' with item_list=booklog_posts %}
				</div>
			</div>
			{% else %}
			<p>Doesn't this book touch you?</p>
			{% endif %}
		</div>
	</div>
	
	{% if request.user.is_authenticated %}
	<hr />
	<div class="row justify-content-center">
		<div class="col-auto col-offset-2">
			<a href="{% url 'shelf:booklog_delete' booklog_id=booklog.id %}" class="btn btn-danger">Remove From Shelf</a>
		</div>
	</div>
	{% endif %}

	<br />
	<br />
	<br />
	<!-- <wb:comments url="{{ request.build_absolute_uri }}" width="auto" skin="silver" ></wb:comments> -->
</div>
{% endblock %}
</body>