{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load ratings %}

<head>
	<title>
	{% block head_title %}{{ bookshare.share_title }}{% endblock %}
	{% block head_extension %}{{ comment_form.media }}{% endblock %}
	</title>
</head>

<body>
{% block body_content %}
<div class="container">

	<div class="row">
		<div class="col-sm-12">
			<h2>{{ bookshare.share_title }}</h2>
		</div>
		<div class="col-sm-auto text-center">
			<i>By <strong>{{ bookshare.share_user }}</strong></i>
		</div>
		<div class="col-sm-8">
			<small>Last modified: {{ bookshare.share_update_date_time }} | Created: {{ bookshare.share_create_date_time }}</small>
		</div>
		<div class="col-sm-12">
			{% for tag in bookshare.share_tag.all %}
			<a href="{% url 'sharelist:share_index' %}?qs={{ tag }}" class="btn btn-success btn-round btn-sm mt-2">{{ tag }}</a>
			{% endfor %}
		</div>
	</div>

	<div class="row my-5">
		<div class="col-md-12">
			<div class="row justify-content-between align-items-end">
				<div class="col-auto">
					<p class="lead"><strong>Share Introduction</strong></p>
				</div>
			</div>
		</div>
		<div class="col-sm-10 offset-sm-1">
			<p class="content-markdown">{{ bookshare.get_intro_content_html }}</p>
		</div>
	</div>

	<div class="row my-5">
		<div class="col-md-12">
			<div class="row justify-content-between align-items-end">
				<div class="col-auto">
					<p class="lead"><strong>Share Books</strong></p>
				</div>
			</div>
		</div>
		<div class="col-md-10 offset-md-1 my-4">
			{% if bookshare_books %}
			<div class="row">
				{% for booklog in bookshare_books %}
				<div class="col-lg-2 col-md-4 col-sm-6">
					<a class="row justify-content-center" href="{% url 'shelf:booklog_detail' booklog_id=booklog.id %}">
					<div class="card box-shadow text-center center-block" style="height:150px; width:100px;">
						{% if booklog.booklog_book.book_cover %}
						<img class="card-img img-fluid img-thumbnail" 
						data-src="holder.js/150x200?theme=thumb" 
						alt="Book cover" 
						style="object-fit:cover; display:block; max-width:100px; height:150px; margin:auto; padding:auto;"
						src="{{ booklog.booklog_book.book_cover.url }}" 
						data-holder-rendered="true"> 
						{% else %}
						<div class="card-body">
							<h4 class="card-title text-primary">{{ booklog.booklog_book.book_title }}</h4>
							<h5 class="card-subtitle text-muted">{{ booklog.booklog_book.sub_title }}</h5>
							<p class="card-text">{{ booklog.get_booklog_intro_html|truncatechars_html:80 }}</p>
						</div>
						{% endif %}
					</div>
					</a>
				</div>
				{% endfor %}
			</div>
			<br />
			<!-- pagination -->
			<div class="row justify-content-center">
				{% include 'common/paginator.html' with item_list=bookshare_books %}
			</div>
			{% else %}
			<!-- if no books -->
			<p class="text-center">No books.</p>
			{% endif %}
		</div>
	</div>

	<div class="row my-5">
		<div class="col-md-12">
			<div class="row justify-content-between align-items-end">
				<div class="col-auto">
					<p class="lead"><strong>Comments</strong></p>
				</div>
			</div>
		</div>
		<div class="col-md-10 offset-md-1 my-4">
			{% if request.user.is_authenticated %}
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				{{ comment_form | crispy }}
				<div class="row justify-content-end">
					<div class="col-auto col-offset-2">
						<button class="btn btn-default" type="submit">Submit</button>
					</div>
				</div>
			</form>
			{% endif %}
		</div>

		{% if bookshare_comments %}
		<div class="col-md-12">
			{% include "comments/comments.html" with comment_list=bookshare_comments %}
		</div>
		{% endif %}
	</div>
	
	{% if request.user.is_authenticated %}
	<hr />
	<div class="row justify-content-center">
		<div class="col-auto col-offset-2">
			<a href="{% url 'sharelist:share_delete' share_id=bookshare.id %}" class="btn btn-danger">Remove this share</a>
		</div>
	</div>
	{% endif %}

	<br />
	<br />
	<br />
	<!-- <wb:comments url="{{ request.build_absolute_uri }}" width="auto" skin="silver" ></wb:comments> -->
</div>
{% endblock %}
</body>