{% if not broad %}
<div class="row mb-3 justify-content-center">
{% endif %}
{% for bookshare in book_sharelist %}
{% if not broad %}
<div class="col-md-10 col-offset-md-1 col-sm-10 col-offset-sm-1 my-1">
{% endif %}
<div class="card mb-4 box-shadow">
    <div class="card-body align-items-start">
		<div class="row">
			<div class="col-lg-1 col-md-2 col-2" style="margin-top:0; padding-left:auto; padding-right:0;">
				{% if bookshare.share_user.avatar %}
				<a href="{% url 'myuser:user_profile' user_id=bookshare.share_user.id %}" title="{{ bookshare.share_user.username }}">
					<img class="img-fluid img-circle" 
					alt="{{ bookshare.share_user.username }}" 
					style="object-fit:cover; width:100px; height:100; margin:auto; padding:auto;"
					src="{{ bookshare.share_user.avatar.url }}" 
					data-holder-rendered="true">
				</a>
				{% endif %}
            </div>
			<div class="col-lg-11 col-md-10 col-10">
                <div class="row">
                    <div class="col">
                        <a href="{% url 'sharelist:share_detail' share_id=bookshare.id %}">
                            <h3 class="card-title" style="word-wrap:break-word;">
                                <strong>{{ bookshare.share_title }}</strong>
                            </h3>
                        </a>
                    </div>
                    <div class="col-auto">
                        {% url 'sharelist:ajax_vote_up' share_id=bookshare.id as vote_up_url %} 
                        {% include "common/user_votes.html" with ajax_vote_up_url=vote_up_url item=bookshare %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-auto d-inline-block mb-2 text-primary">By
                        <a href="{% url 'myuser:user_profile' user_id=bookshare.share_user.id %}">
                            <strong>{{ bookshare.share_user }}</strong>
                        </a>
                    </div>
                    <div class="col-sm-auto text-muted">Last modified: {{ bookshare.share_update_date_time | date:"Y-M-d H:i:s" }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12 card-text my-auto">
                        <p>{{ post.get_blog_content_html | truncatechars_html:500 }}</p>
                    </div>
                </div>

                {% if bookshare.share_books %}
                <div class="row">
                    {% for booklog in bookshare.share_books.all|slice:slice_range %}
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                        <a class="row justify-content-center" href="{% url 'shelf:booklog_detail' booklog_id=booklog.id %}">
                            <div class="card box-shadow text-center center-block" style="height:100px; width:80px;">
                                {% if booklog.booklog_book.book_cover %}
                                <img class="card-img img-fluid img-thumbnail" data-src="holder.js/150x200?theme=thumb" alt="Book cover" style="object-fit:cover; display:block; max-width:80px; height:100px; margin:auto; padding:auto;"
                                    src="{{ booklog.booklog_book.book_cover.url }}" data-holder-rendered="true"> {% else %}
                                <div class="card-body">
                                    <h4 class="card-title text-primary">{{ booklog.booklog_book.book_title }}</h4>
                                    <h5 class="card-subtitle text-muted">{{ booklog.booklog_book.sub_title }}</h5>
                                    <p class="card-text">{{ booklog.get_booklog_intro_html|truncatechars_html:80 }}</p>
                                </div>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% if not broad %}
</div>
{% endif %}
{% endfor %}
{% if not broad %}
</div>
{% endif %}