{% load static %}
{% load staticfiles %}

<!-- Django templates filters: https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#time -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="utf-8" />
    <!-- dependencies of bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- dependencies of font awsome -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
	<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- local css file -->
	<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />

	<!-- block to insert extensions in head -->
	{% block head_extension %}
	{% endblock %}

	<title>{% block head_title %}{% endblock %}</title>
</head>

<body>
{% include "blog/header.html" %}

{% block body_content %}
{% endblock %}

{% include "blog/footer.html" %}

<!-- Marked min for markdown -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.12/marked.min.js" integrity="sha256-i/tXAK6uqBpeOGsDc/sLNo5aCxJTE3pfnXlNPK+FV30=" crossorigin="anonymous"></script>
<!-- dependencies of weibo -->
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
<!-- dependencies of bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- jQuery min -->
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<!-- jQueryUI min -->
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

<script type="text/javascript">
// markdown each content in content-markdown class
// replaced by markdown_deux_tags
/*
$(document).ready(function(){
	$(".content-markdown").each(function(){
		var content = $(this).text();
		console.log(content)
		var markdownContent = marked(content);
		console.log(markdownContent)
		$(this).html(markdownContent);
	});
});
*/

// to make images inside of a markdowned content responsive
$(document).ready(function(){
	$(".content-markdown img").each(function(){
		$(this).addClass("img-responsive");
	});
	
	$(".comment-reply-btn").click(function(event){
		event.preventDefault();
		$(this).parent().parent().next(".comment-reply").fadeToggle();
	});

	/*
	var marked = require('marked');
	$("#preview-title").html(marked($("#id_blog_title").val()));
	$("#id_blog_title").keyup(function(){
		$("#preview-title").html(marked($(this).val()));
	});
	
	$("#preview-content").html(marked($("#id_blog_content").val()));
	$("#preview-content img").each(function(){
		$(this).addClass("img-responsive")
	});
	$("#id_blog_content").keyup(function(){
		$("#preview-content").html(marked($(this).val()));
		$("#preview-content img").each(function(){
			$(this).addClass("img-responsive")
		});
	});
	*/
});
</script>

</body>
</html>