{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load ratings %}

<head>
	<title>
	{% block head_title %}{{ title }}{% endblock %}
	{% block head_extension %}{{ post_form.media }}{% endblock %}
	</title>
</head>

<body>
{% block body_content %}
<div class="container">
    {% if booklog %}
	{% include 'book/book_profile.html' with book=booklog.booklog_book user_rate=False view_book=True booklog=booklog view_booklog=True %}
	<hr />
    {% endif %}
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <h2 class="text-center">{{ title }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <!-- need to set enctype to multipart/form-data for uploading file image
            this type will not encrypt uploaded file name so that image file could be visited
            related link: https://www.w3schools.com/tags/att_form_enctype.asp -->
            <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- {{ post_form.management_form }}
            {% for item in post_form %}
                {{ item.id }}
                <div class="row">
                    <div class="lead">{{ item.name }}</div>
                </div>
                <div class="row">
                    <p class="w-100">{{ item }}</p>
                </div>
                <br />
            {% endfor %} -->
            <!-- {{ post_form.as_p }} -->
            {{ post_form | crispy }}
            <div class="row justify-content-end">
                {% if post_form.instance.id %}
                <div class="col float-left">
					<a href="{% url 'blog:blog_detail' blog_id=post_form.instance.id %}" class="btn btn-default">Back</a>
                </div>
                <div class="col-auto">
                    <input class="btn btn-danger" type="submit" value="Save" />
                </div>
                {% else %}
                <div class="col-auto">
                    <input class="btn btn-default" type="submit" value="Save" />
                </div>
                {% endif %}
            </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
</body>