{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load ratings %}

<head>
	<title>
	{% block head_title %}{{ title }}{% endblock %}
	{% block head_extension %}{{ post_form.media }}{% endblock %}
	</title>
</head>

<body>
{% block body_content %}
<div class="container">
    {% if booklog %}
	<div class="row">
		<div class="col-md-10 col-sm-10 offset-md-1 offset-sm-1">
			<div class="row mx-1">
				{% if booklog.booklog_book.book_cover %}
				<div class="col-md-4 text-center">
					<img class="card-img my-4 img-fluid img-thumbnail"
					data-src="holder.js/240x320?theme=thumb" 
					alt="Thumbnail [240x320]" 
					style="display:block; max-width:220px; height:auto; margin:auto;" 
					src="{{ booklog.booklog_book.book_cover.url }}" 
					data-holder-rendered="true">
				</div>
				{% endif %}
				<div class="col-md-8">
					<div class="row">
						<h1 class="col-md-12 mt-4 mb-0">{{ booklog.booklog_book.book_title }}</h1>
						{% if booklog.booklog_book.sub_title %}
						<h1 class="col-md-12 mt-0 mb-1 pb-1">
							<small>{{ booklog.booklog_book.sub_title }}</small>
						</h1>
						{% endif %}
					</div>
					<div class="row my-1">
						<span class="col-md-12 lead">Author: <strong>{{ booklog.booklog_book.authors }}</strong></span>
					</div>
					<div class="row my-1">
						<span class="col-md-12 lead">Press: <strong>{{ booklog.booklog_book.presses }}</strong></a></span>
					</div>
					<div class="row my-1">
						<span class="col-md-12 lead">Publish Date: <strong>{{ booklog.booklog_book.pub_date }}</strong></span>
					</div>
					<div class="row my-1 justify-content-start">
						<div class="col-auto pr-0 align-self-center"><span class="lead">Your Rates:</span></div>
						<div class="col">{% ratings item=booklog.booklog_book read_only=False template_name="common/star_ratings_user.html" %}</div>
					</div>
					{% for tag in booklog.booklog_book.book_tag.all %}
					<a href="{% url 'book:book_index' %}?qs={{ tag }}" class="btn btn-success btn-round btn-sm mt-2">{{ tag }}</a>
					{% endfor %}
				</div>
            </div>
        </div>
    </div>
    <hr />
    {% endif %}
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <h2 class="text-center">{{ title }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <!-- need to set enctype to multipart/form-data for uploading file image
            this type will not encrypt uploaded file name so that image file could be visited
            related link: https://www.w3schools.com/tags/att_form_enctype.asp -->
            <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- {{ post_form.management_form }}
            {% for item in post_form %}
                {{ item.id }}
                <div class="row">
                    <div class="lead">{{ item.name }}</div>
                </div>
                <div class="row">
                    <p class="w-100">{{ item }}</p>
                </div>
                <br />
            {% endfor %} -->
            <!-- {{ post_form.as_p }} -->
            {{ post_form | crispy }}
            <div class="row justify-content-end">
                {% if post_form.instance.id %}
                <div class="col float-left">
					<a href="{% url 'blog:blog_detail' blog_id=post_form.instance.id %}" class="btn btn-default">Back</a>
                </div>
                <div class="col-auto">
                    <input class="btn btn-danger" type="submit" value="Save" />
                </div>
                {% else %}
                <div class="col-auto">
                    <input class="btn btn-default" type="submit" value="Save" />
                </div>
                {% endif %}
            </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
</body>