{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

<head>
	<title>
	{% block head_title %}{{ post.blog_title }}{% endblock %}
	{% block head_extension %}{{ comment_form.media }}{% endblock %}
	</title>
</head>

<body>
{% block body_content %}
<div class="container">
	<h1>{{ post.blog_title }}</h1>
	<i>By {{ post.blog_author }}</i>
	<br />
	<small>Last modified: {{ post.update_date_time}} <br /> Created: {{ post.update_date_time}} </small>
	<br />
	<wb:share-button addition="simple">{{ request.build_absolute_uri }}</wb:share-button>
	<!-- <wb:like type="simple"></wb:like> -->
	
	{% if post.blog_image %}
	<img class="card-img-right flex-auto d-none d-md-block" 
		data-src="holder.js/250x250?theme=thumb" 
		style="width: 250px; height: 250px;" 
		src="{{ post.blog_image.url }}" 
		data-holder-rendered="true">
	{% endif %}

	<hr />
	<!-- <div class="content-markdown">{{ post.blog_content }}</div> -->
	<p class="content-markdown">{{ post.get_blog_content_markdown }}</p>
	<hr />

	<a href="{% url 'blog:blog_update' blog_id=post.id %}" class="btn">Edit</a>
	<a href="{% url 'blog:blog_delete' blog_id=post.id %}" class="btn">Delete</a>

	<hr />
	<h4>Comments</h4>
	<br />
	<div class="row">
		{% for comment in post_comments %}
		<div class="card card-block bg-light col-10 offset-1">
			<p class="text-justify">{{ comment.get_comment_content_markdown }}<br />
			<small>{{ comment.comment_user }} | {{ comment.comment_date_time }}</small>
			</p>
		</div>
		{% endfor %}
	</div>
	<br />
	{% if comment_form %}
	<div class="row">
		<div class="col-10 offset-1">
			<form method="POST" action="" enctype="multipart/form-data">
			{% csrf_token %}
			{{ comment_form | crispy }}
			<input type="submit" value="Save" />
		</div>
	</div>
	{% endif %}

	<br />
	<!-- <wb:comments url="{{ request.build_absolute_uri }}" width="auto" skin="silver" ></wb:comments> -->

</div>
{% endblock %}
</body>