{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

<head>
	<title>
	{% block head_title %}{{ post.blog_title }}{% endblock %}
	{% block head_extension %}{{ comment_form.media }}{% endblock %}
	</title>
</head>

<body>
{% block body_content %}
<div class="container">
	<h1>{{ post.blog_title }}</h1>
	<i>By {{ post.blog_author }}</i>
	<br />
	<small>Last modified: {{ post.update_date_time}} <br /> Created: {{ post.update_date_time}} </small>
	<br />
	<wb:share-button addition="simple">{{ request.build_absolute_uri }}</wb:share-button>
	<!-- <wb:like type="simple"></wb:like> -->
	
	{% if post.blog_image %}
	<img class="card-img-right flex-auto d-none d-md-block" 
		data-src="holder.js/250x250?theme=thumb" 
		style="width: 250px; height: 250px;" 
		src="{{ post.blog_image.url }}" 
		data-holder-rendered="true">
	{% endif %}

	<hr />
	<!-- <div class="content-markdown">{{ post.blog_content }}</div> -->
	<p class="content-markdown">{{ post.get_blog_content_markdown }}</p>
	<hr />

	<a href="{% url 'blog:blog_update' blog_id=post.id %}" class="btn">Edit</a>
	<a href="{% url 'blog:blog_delete' blog_id=post.id %}" class="btn">Delete</a>

	<hr />
	<h4>Comments</h4>
	{% if request.user.is_authenticated %}
	<div class="row">
		<div class="col-10 offset-1">
			<form method="POST" action="" enctype="multipart/form-data">
			{% csrf_token %}
			{{ comment_form | crispy }}
			<button class="btn btn-outline-secondary" type="submit">Submit</button>
			</form>
		</div>
	</div>
	{% endif %}
	<br />
	<div class="row">
		{% for comment in post_comments %}
		<div class="card card-block bg-light col-10 offset-1" style="margin-bottom: 2%; padding: 2%;">
			{{ comment.get_comment_content_markdown }}<br />
			<div class="row flex-nowrap justify-content-between align-items-center" style="margin-bottom:2%;">
				<small class="col-auto">{{ comment.comment_user }} | {{ comment.comment_date_time }}</small>
				<br />
				<div class="col-8 d-flex justify-content-end align-items-center">
					{% if comment.get_children %}
						<small style="margin-right:10px;">{{ comment.get_children.count }} Comments</small>
						<a class="btn btn-outline-secondary" href="{{ comment.get_absolute_url }}" style="margin-right:10px;">Discussion</a>
					{% endif %}
					<button class="btn btn-outline-secondary comment-reply-btn">Reply</button>
				</div>
			</div>

			{% if comment.get_children %}
			<div class="row comment-reply" style="display:none;">
				{% for child_comment in comment.get_children %}
					<div class="card card-block bg-light col-10 offset-1" style="margin-bottom: 2%; padding: 2%;">
					<p class="text-justify">{{ child_comment.get_comment_content_markdown }}<br />
					<small>By {{ child_comment.comment_user }} | {{ child_comment.comment_date_time }}</small>
					</p>
					</div>
				{% endfor %}

				{% if request.user.is_authenticated %}
					<div class="col-10 offset-1">
					<form method="POST" action="" enctype="multipart/form-data">
					{% csrf_token %}
					{{ comment_form | crispy }}
					<input type="hidden" name="parent_id" value="{{ comment.id }}">
					<button class="btn btn-outline-secondary" type="submit">Submit</button>
					</form>
					</div>
				{% endif %}
			</div>
			{% endif %}

		</div>
		<!-- <blockquote class="blockquote col-10 offset-1">
			<p class="text-justify mb-1">{{ comment.get_comment_content_markdown }}</p>
			<footer class="blockquote-footer">{{ comment.comment_user }} at <cite title="Source Title">{{ comment.comment_date_time }}</cite></footer>
		</blockquote> -->
		{% endfor %}
	</div>
	<br />
	<br />
	<!-- <wb:comments url="{{ request.build_absolute_uri }}" width="auto" skin="silver" ></wb:comments> -->

</div>
{% endblock %}
</body>