{% extends "blog/base.html" %}

<title>
{% block head_title %}Blogs{% endblock %}
</title>

<body>
{% block body_content %}
<div class="container">
<div class="row flex-nowrap justify-content-between align-items-center">
	<div class="col-4 pt-2 ml-2 text-left">
		<h1>Blogs</h1>
	</div>
	<div class="col-4 d-flex justify-content-end">
		<form method="GET" action="">
			<input type="text" name="search_string" placeholder="Search blogs" value="{{ request.GET.search_string }}"/>
			<input type="submit" value="Search" />
		</form>
	</div>
</div>
<br />
<br />

<!-- <li><a href="{{ post.get_absolute_url }}">{{ post.blog_title }}</a></li> -->
<div class="row justify-content-center">
	{% if post_list %}
	{% for post in post_list %}
	<div class="col-md-8 ">
		<div class="card flex-md-row mb-4 box-shadow h-md-250">
			<div class="card-body d-flex flex-column align-items-start">
			<h3 class="mb-0">
				<a class="text-dark" href="{% url 'blog:blog_detail' blog_id=post.id %}">{{ post.blog_title | truncatechars:50 }}</a>
			</h3>
			<p class="d-inline-block mb-2 text-primary">By {{ post.blog_author }}</p>
			<div class="mb-1 text-muted">Last modified: {{ post.update_date_time | date:"Y-M-d H:i:s" }}</div>
			<span class="card-text mb-auto">
				<p>{{ post.get_blog_content_markdown | truncatechars_html:100 }}</p>
			</span>
			<!-- <a href="{% url 'blog:blog_detail' blog_id=post.id %}">Continue reading</a> -->
			</div>
			{% if post.blog_image %}
			<img class="card-img-right flex-auto d-none d-md-block"
			data-src="holder.js/200x250?theme=thumb" 
			alt="Thumbnail [200x250]" 
			style="width: 250px; height: 250px;" 
			src="{{ post.blog_image.url }}" 
			data-holder-rendered="true">
			{% endif %}
		</div>
	</div>
	{% endfor %}
	{% else %}
	<p>No blogs.</p>
	{% endif %}
</div>

<div class="row justify-content-center">
<div class="pagination col-auto">
	<span class="step-links">
	{% if post_list.has_previous %}
		<a href="?page=1{% if request.GET.search_string %}&search_string={{ request.GET.search_string }}{% endif %}">&laquo; First</a>
		<a href="?page={{ post_list.previous_page_number }}{% if request.GET.search_string %}&search_string={{ request.GET.search_string }}{% endif %}">Previous</a>
	{% endif %}
	<span class="current">
		Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}.
	</span>
	{% if post_list.has_next %}
		<a href="?page={{ post_list.next_page_number }}{% if request.GET.search_string %}&search_string={{ request.GET.search_string }}{% endif %}">Next</a>
		<a href="?page={{ post_list.paginator.num_pages }}{% if request.GET.search_string %}&search_string={{ request.GET.search_string }}{% endif %}">Last &raquo;</a>
	{% endif %}
	</span>
</div>
</div>

</div>
{% endblock %}

</body>