{% extends "common/base.html" %}

<title>
{% block head_title %}Blogs{% endblock %}
</title>

<body>
{% block body_content %}
<div class="container">
	<div class="row flex-nowrap justify-content-left align-items-center">
		<div class="col-12 pt-2 ml-2 text-left">
			<h1>Blogs</h1>
		</div>
	</div>

	<br />
	<br />

	<div class="row">
		<!-- blog posts -->
		<div class="col-md-8">
			{% if post_list %}
			{% for post in post_list %}
			<div class="card mb-4 box-shadow">
				<div class="card-body align-items-start">
					<a href="{% url 'blog:blog_detail' blog_id=post.id %}">
						<h3 class="card-title" style="word-wrap:break-word;"><strong>{{ post.blog_title }}</strong></h3>
					</a>
					<div class="row">
						<div class="col-sm-auto d-inline-block mb-2 text-primary">By {{ post.blog_author }}</div>
						<div class="col-sm-auto text-muted">Last modified: {{ post.update_date_time | date:"Y-M-d H:i:s" }}</div>
					</div>
					<div class="card-text my-auto">
						<p>{{ post.get_blog_content_html | truncatechars_html:500 }}</p>
					</div>
					<!-- <a href="{% url 'blog:blog_detail' blog_id=post.id %}">Continue reading</a> -->
				</div>
				{% if post.blog_image %}
				<img class="card-img-right flex-auto d-none d-md-block img-fluid img-thumbnail"
				data-src="holder.js/200x250?theme=thumb" 
				alt="Thumbnail [200x250]" 
				style="display:block; max-width:250px; height:auto; margin:auto;" 
				src="{{ post.blog_image.url }}" 
				data-holder-rendered="true">
				{% endif %}
			</div>
			<br />
			{% endfor %}

			<!-- pagination -->
			<div class="row justify-content-center">
				<!-- <div class="pagination col-auto">
					<span class="step-links">
						{% if post_list.has_previous %}
						<a href="?page=1{% if request.GET.search_string %}&search_string={{ request.GET.search_string }}{% endif %}">&laquo; First</a>
						<a href="?page={{ post_list.previous_page_number }}{% if request.GET.search_string %}&search_string={{ request.GET.search_string }}{% endif %}">Previous</a>
						{% endif %}
						<span class="current">
							Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}
						</span>
						{% if post_list.has_next %}
						<a href="?page={{ post_list.next_page_number }}{% if request.GET.search_string %}&search_string={{ request.GET.search_string }}{% endif %}">Next</a>
						<a href="?page={{ post_list.paginator.num_pages }}{% if request.GET.search_string %}&search_string={{ request.GET.search_string }}{% endif %}">Last &raquo;</a>
						{% endif %}
					</span>
				</div> -->
				<div class="col-auto" aria-label="Page navigation">
				{% include 'common/paginator.html' with item_list=post_list %}
				</div>
			</div>

			{% else %} 
			<!-- if no blogs -->
			<p class="text-center">No blogs.</p>
			{% endif %}

			<br />
			<br />
		</div>

		<!-- widgets colume -->
		<div class="col-md-4">

			<div class="card">
				<h5 class="card-header">Search</h5>
				<div class="card-body">
					<form method="GET" action="">
					<div class="input-group">
						<input type="text" name="search_string" class="form-control" placeholder="Search for..." aria-label="Recipient's username" aria-describedby="basic-addon2" value="{{ request.GET.search_string }}">
						<div class="input-group-append">
							<button class="btn btn-default" type="submit"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
						</div>
					</div>
					</form>
				</div>
			</div>

			<div class="card">
				<h5 class="card-header">Catagory</h5>
				<div class="card-body">
					<form method="GET" action="">
					{% for tag in tag_list %}
						<input class="btn btn-success btn-round btn-sm my-1" name="search_string" type="submit" value="{{ tag }}" />
					{% endfor %}
					</form>
				</div>
			</div>

		</div>

	</div>
</div>
{% endblock %}

</body>