{% if not broad %}
<div class="row mb-3 justify-content-center">
{% endif %}
{% for post in post_list %}
{% if not broad %}
<div class="col-md-10 col-offset-md-1 col-sm-10 col-offset-sm-1 my-1">
{% endif %}
<div class="card mb-4 box-shadow">
	<div class="card-body align-items-start">
		<div class="row">
			<div class="col">
				<a href="{% url 'blog:blog_detail' blog_id=post.id %}">
					<h3 class="card-title" style="word-wrap:break-word;"><strong>{{ post.blog_title }}</strong></h3>
				</a>
			</div>
			<div class="col-auto">
				{% url 'blog:ajax_vote_up' blog_id=post.id as vote_up_url %}
				{% include "common/user_votes.html" with ajax_vote_up_url=vote_up_url item=post %}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-auto d-inline-block mb-2 text-primary">By 
				<a href="{% url 'myuser:user_profile' user_id=post.blog_author.id %}"><strong>{{ post.blog_author }}</strong></a>
			</div>
			<div class="col-sm-auto text-muted">Last modified: {{ post.update_date_time | date:"Y-M-d H:i:s" }}</div>
		</div>
		<div class="card-text my-auto">
			<p>{{ post.get_blog_content_html | truncatechars_html:500 }}</p>
		</div>
	</div>
</div>
{% if not broad %}
</div>
{% endif %}
{% endfor %}
{% if not broad %}
</div>
{% endif %}