h1 {

}

li {
    margin: 1%;
}

p {
    word-wrap: break-word;
}

body {
    /* background: white url("images/bg.jpg") no-repeat left top; */
    word-wrap: break-word;
    background-color: #FFFCF5;
}

.scrollToTop {
    position: fixed;
    bottom: 3%;
    right: 5%;
    z-index: 99;
}

.wmd-panel {
	margin-left: 0px !important;
    margin-right: 0px !important;
    width: inherit !important;
    height: inherit !important;
	min-width: 0px !important;
	min-height: 0px !important;
}

#id_blog_title {
    height: 100% !important;
    width: 100% !important;
}

.django-ckeditor-widget {
    height: 100% !important;
    width: 100% !important;
    display: unset !important;
}

.wrapper {
    background-color: inherit !important;
}

.navbar .navbar-nav .nav-item .nav-link {
    margin: 5px 0px !important;
}

.navbar .btn {
    margin: 5px 0px !important;
}

.navbar-nav {
    display: -webkit-box;
}

.navbar .navbar-brand {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin: 0px 0px !important;
}

.navbar .navbar-burger {
    margin: 15px 15px !important;
}

.navbar-collapse {
    box-shadow: none !important;
}

.navbar-collapse ul {
    height: auto !important;
}

.blockquote {
    text-align: unset !important;
    padding: 1%;
}

.card-title {
    margin-top: 10px;
    margin-bottom: 10px;
}